data
lib
validation/_gnss
validation/*/*/navigation
validation/*/*/pcap
validation/*/*/pointcloud
validation/*/*/video
validation/*/results/*/*/*.laz
validation/*/results/*/*/*.pcd
validation/*/*/*.txt
validation/testing
__pycache__
.vscode
output_data/test_000000.las
output_data/test_000001.las
output_data/test_000002.las
output_data/test_000003.las
output_data/test_000004.las
output_data/test_000005.las
output_data/test_000006.las
output_data/test_000007.las
output_data/test_000008.las
output_data/test_000009.las
output_data/test_000010.las
output_data/test_000011.las
output_data/test_000012.las
output_data/test_000013.las
output_data/test_000014.las
output_data/test_000015.las
output_data/test_000016.las
output_data/test_000017.las
output_data/test_000018.las
output_data/test_000019.las
output_data/test_000020.las
output_data/test_000021.las
output_data/test_000022.las
output_data/test_000023.las
output_data/test_000024.las
output_data/test_000025.las
output_data/test_000026.las
output_data/test_000027.las
output_data/test_000028.las
output_data/test_000029.las
output_data/test_000030.las
output_data/test_000031.las
output_data/test_000032.las
output_data/test_000033.las
output_data/test_000034.las
output_data/test_000035.las
output_data/test_000036.las
output_data/test_000037.las
output_data/test_000038.las
output_data/test_000039.las
output_data/test_000040.las
output_data/test_000041.las
output_data/test_000042.las
output_data/test_000043.las
output_data/test_000044.las
output_data/test_000045.las
output_data/test_000046.las
output_data/test_000047.las
output_data/test_000048.las
output_data/test_000049.las
output_data/test_000050.las
output_data/test_000051.las
output_data/test_000052.las
output_data/test_000053.las
output_data/test_000054.las
output_data/test_000055.las
output_data/test_000056.las
output_data/test_000057.las
output_data/test_000058.las
output_data/test_000059.las
output_data/test_000060.las
output_data/test_000061.las
output_data/test_000062.las
output_data/test_000063.las
output_data/test_000064.las
output_data/test_000065.las
output_data/test_000066.las
output_data/test_000067.las
output_data/test_000068.las
output_data/test_000069.las
output_data/test_000070.las
output_data/test_000071.las
output_data/test_000072.las
output_data/test_000073.las
output_data/test_000074.las
output_data/test_000075.las
output_data/test_000076.las
output_data/test_000077.las
output_data/test_000078.las
output_data/test_000079.las
output_data/test_000080.las
output_data/test_000081.las
output_data/test_000082.las
output_data/test_000083.las
output_data/test_000084.las
output_data/test_000085.las
output_data/test_000086.las
output_data/test_000087.las
output_data/test_000088.las
output_data/test_000089.las
output_data/test_000090.las
output_data/test_000091.las
output_data/test_000092.las
output_data/test_000093.las
output_data/test_000094.las
output_data/test_000095.las
output_data/test_000096.las
output_data/test_000097.las
output_data/test_000098.las
output_data/test_000099.las
output_data/test_000100.las
output_data/test_000101.las
output_data/test_000102.las
output_data/test_000103.las
output_data/test_000104.las
output_data/test_000105.las
output_data/test_000106.las
output_data/test_000107.las
output_data/test_000108.las
output_data/test_000109.las
output_data/test_000110.las
output_data/test_000111.las
output_data/test_000112.las
output_data/test_000113.las
output_data/test_000114.las
output_data/test_000115.las
output_data/test_000116.las
output_data/test_000117.las
output_data/test_000118.las
output_data/test_000119.las
output_data/test_000120.las
output_data/test_000121.las
output_data/test_000122.las
output_data/test_000123.las
output_data/test_000124.las
output_data/test_000125.las
output_data/test_000126.las
output_data/test_000127.las
output_data/test_000128.las
output_data/test_000129.las
output_data/test_000130.las
output_data/test_000131.las
output_data/test_000132.las
output_data/test_000133.las
output_data/test_000134.las
output_data/test_000135.las
output_data/test_000136.las
output_data/test_000137.las
output_data/test_000138.las
output_data/test_000139.las
output_data/test_000140.las
output_data/test_000141.las
output_data/test_000142.las
output_data/test_000143.las
output_data/test_000144.las
output_data/test_000145.las
output_data/test_000146.las
output_data/test_000147.las
output_data/test_000148.las
output_data/test_000149.las
output_data/test_000150.las
output_data/test_000151.las
output_data/test_000152.las
output_data/test_000153.las
output_data/test_000154.las
output_data/test_000155.las
output_data/test_000156.las
output_data/test_000157.las
output_data/test_000158.las
output_data/test_000159.las
output_data/test_000160.las
output_data/test_000161.las
output_data/test_000162.las
output_data/test_000163.las
output_data/test_000164.las
output_data/test_000165.las
output_data/test_000166.las
output_data/test_000167.las
output_data/test_000168.las
output_data/test_000169.las
output_data/test_000170.las
output_data/test_000171.las
output_data/test_000172.las
output_data/test_000173.las
output_data/test_000174.las
output_data/test_000175.las
output_data/test_000176.las
output_data/test_000177.las
output_data/test_000178.las
output_data/test_000179.las
output_data/test_000180.las
output_data/test_000181.las
output_data/test_000182.las
output_data/test_000183.las
output_data/test_000184.las
output_data/test_000185.las
output_data/test_000186.las
output_data/test_000187.las
output_data/test_000188.las
output_data/test_000189.las
output_data/test_000190.las
output_data/test_000191.las
output_data/test_000192.las
output_data/test_000193.las
output_data/test_000194.las
output_data/test_000195.las
output_data/test_000196.las
output_data/test_000197.las
output_data/ept_test_000003/ept.json
output_data/ept_test_000003/ept-data/0-0-0-0.laz
output_data/ept_test_000003/ept-data/1-0-0-0.laz
output_data/ept_test_000003/ept-data/1-1-0-0.laz
output_data/ept_test_000003/ept-data/2-0-0-0.laz
output_data/ept_test_000003/ept-data/2-0-1-0.laz
output_data/ept_test_000003/ept-data/2-1-0-0.laz
output_data/ept_test_000003/ept-data/2-1-1-0.laz
output_data/ept_test_000003/ept-hierarchy/0-0-0-0.json
output_data/ept_test_000023/ept.json
output_data/ept_test_000023/ept-data/0-0-0-0.laz
output_data/ept_test_000023/ept-data/1-0-0-0.laz
output_data/ept_test_000023/ept-data/1-0-1-0.laz
output_data/ept_test_000023/ept-data/2-0-1-0.laz
output_data/ept_test_000023/ept-data/2-0-2-0.laz
output_data/ept_test_000023/ept-data/2-1-1-0.laz
output_data/ept_test_000023/ept-data/2-1-2-0.laz
output_data/ept_test_000023/ept-hierarchy/0-0-0-0.json
output_data/ept_test_000043/ept.json
output_data/ept_test_000043/ept-data/0-0-0-0.laz
output_data/ept_test_000043/ept-data/1-0-0-0.laz
output_data/ept_test_000043/ept-data/1-1-0-0.laz
output_data/ept_test_000043/ept-data/2-0-0-0.laz
output_data/ept_test_000043/ept-data/2-0-1-0.laz
output_data/ept_test_000043/ept-data/2-1-0-0.laz
output_data/ept_test_000043/ept-data/2-1-1-0.laz
output_data/ept_test_000043/ept-hierarchy/0-0-0-0.json
output_data/ept_test_000063/ept.json
output_data/ept_test_000063/ept-data/0-0-0-0.laz
output_data/ept_test_000063/ept-data/1-0-0-0.laz
output_data/ept_test_000063/ept-data/1-0-1-0.laz
output_data/ept_test_000063/ept-data/1-1-0-0.laz
output_data/ept_test_000063/ept-data/1-1-1-0.laz
output_data/ept_test_000063/ept-data/2-0-1-0.laz
output_data/ept_test_000063/ept-data/2-0-2-0.laz
output_data/ept_test_000063/ept-data/2-1-1-0.laz
output_data/ept_test_000063/ept-data/2-1-2-0.laz
output_data/ept_test_000063/ept-hierarchy/0-0-0-0.json
output_data/ept_test_000083/ept.json
output_data/ept_test_000083/ept-data/0-0-0-0.laz
output_data/ept_test_000083/ept-data/1-0-0-0.laz
output_data/ept_test_000083/ept-data/1-1-0-0.laz
output_data/ept_test_000083/ept-data/2-1-1-0.laz
output_data/ept_test_000083/ept-data/2-2-0-0.laz
output_data/ept_test_000083/ept-data/2-2-1-0.laz
output_data/ept_test_000083/ept-hierarchy/0-0-0-0.json
output_data/ept_test_000103/ept.json
output_data/ept_test_000103/ept-data/0-0-0-0.laz
output_data/ept_test_000103/ept-data/1-0-0-0.laz
output_data/ept_test_000103/ept-data/1-0-1-0.laz
output_data/ept_test_000103/ept-data/1-1-0-0.laz
output_data/ept_test_000103/ept-data/1-1-1-0.laz
output_data/ept_test_000103/ept-data/2-1-1-0.laz
output_data/ept_test_000103/ept-data/2-1-2-0.laz
output_data/ept_test_000103/ept-data/2-2-1-0.laz
output_data/ept_test_000103/ept-data/2-2-2-0.laz
output_data/ept_test_000103/ept-hierarchy/0-0-0-0.json
output_data/ept_test_000123/ept.json
output_data/ept_test_000123/ept-data/0-0-0-0.laz
output_data/ept_test_000123/ept-data/1-0-0-0.laz
output_data/ept_test_000123/ept-data/1-1-0-0.laz
output_data/ept_test_000123/ept-data/2-1-0-0.laz
output_data/ept_test_000123/ept-data/2-1-1-0.laz
output_data/ept_test_000123/ept-data/2-2-0-0.laz
output_data/ept_test_000123/ept-data/2-2-1-0.laz
output_data/ept_test_000123/ept-hierarchy/0-0-0-0.json
